@media (min-width: 1500px){
    .rect-num-title,
    .rect-num-subtitle{
        margin: 0px 0px 40px 0px;
    }
    .best-item-title,
    .best-item-subs{
        margin: 0px 0px 40px 0px;
    }
    .best-item-subs p{
        font-size: 18px;
    }
    .rmb-num-discription{
        font-size: 18px;
        line-height: 20px;
        margin: 40px 0px 0px 0px;
    }
    .prt-rmb-main__sub{
        font-size: 18px;
    }
}
@media (min-width: 1400px ){
    .portfolio-wall{
        height: 1350px;
    }
}

@media (max-width: 1200px){
    .choose-bg {
        height: 1216px;
    }
    
}
@media (max-width: 968px){
    .rmb-num-discription{
        max-width: 150px;
    }
    .num-str{
        display: flex;
        align-content: flex-end
    }
    .num-str h2{
        font-size: 50px;
        transform: translateY(20%);
    }
    .rmb-num-subtitle{
        font-size: 18px;
    }
    .num-circle{
        transform: translateY(0%);
    }
    .rmb-title h2{
        font-size: 50px;
        margin: 0px 10px -10px 0px;
    }
    .rmb-dot{
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 867px){
    .about-container{
        flex-direction:column;
    }
    .about-block{
        margin: 0px 0px 20px 0px;
    }
    .about-block:last-child{
        margin: 20px 0px 0px 0px;
    }
    .about-separator{
        flex-direction:row;
    }
    .separator-item{
        transform: rotate(90deg);
        margin: 0px 40px 0px 0px;
    }
    .separator-item:last-child{
        margin: 0px 0px 0px 40px;
    }
    .about-block-title h2{
        text-align: center;
    }
    .num-circle{
        width: 10px;
        height: 10px;
    }
    .best-item-title h2{
        font-size: 20px;
    }
    .portfolio-wall{
        padding: 0px 50px 0px 50px;
        height: 916px;
    }
}
@media (max-width: 768px){
    .resize-mod p{
        display: none;
    }
    .rmb-title h2{
        font-size: 30px;
        margin: 0px 5px -5px 0px;
    }
    .rmb-dot{
        width: 7px;
        height: 7px;
    }
    .prt-rmb-main__titlte{
        font-size: 24px;
    }
    .prt-rmb-main__sub{
        margin: 0px 0px 0px 0px;
    }
    .prt-rmb-main__titlte{
        margin-bottom: 10px;
    }
    ._btn-bs{
        padding:7px 12px;
        font-size: 11px;
    }
}
@media (max-width: 680px){
    .choose-bg{
        height: 1146px;
    }
    .rmb-main-items{
        margin: 10px 0px 0px 10px;
    }
    .prt-rmb-main__titlte{
        font-size: 17px;
    }
    .portfolio-wall{
        height: 816px;
    }
}
@media (max-width: 580px){
    .best-item-title{
        margin: 0px 0px 0px 0px;
        align-self: center;
    }
    .best-button-media{
        padding: 7px 14px;
        font-size: 11px;
    }
    .best-item-title h2{
        font-size: 16px;
    }
    .num-str h2{
        font-size: 30px
    }
    .rmb-num-subtitle{
        font-size: 16px;
    }
    .num-circle{
        width: 5px;
        height: 5px;
        margin: 0px 0px 0px 5px;
    }
    .rmb-number{
        align-items: center;
    }
    .best-item-subs{
        margin: 0px 0px 10px 0px;
    }
    .choose-bg{
        height: 1116px;
    }
    .portfolio-wall{
        height: 716px;
    }
}
@media (max-width: 480px){
    .best-item-title h2{
        font-size: 13px;
    }
    .num-str h2{
        font-size: 20px
    }
    .rmb-num-subtitle{
        font-size: 13px;
    }
    .best-button-media{
        padding: 5px 10px;
        font-size: 9px;
    }
    .choose-bg{
        height: 1046px;
    }
    .prt-rmb-main__titlte{
        font-size: 14px;
    }
    ._btn-bs{
        padding: 5px 9px;
        font-size: 9px;
    }
}
@media (max-width: 391px){
    .choose-bg{
        height: 1016px;
    }
    .portfolio-wall{
        height: 816px;
    }
}
