
.rmb-bg{
    position: absolute;
    top: calc(240 / 1400 * 100vw);
    right: calc(-1000 / 1400 * 100vw); // 130
    transform: rotate(45deg);
    transition: .6s;
    transition-delay: 1.3s;
}
._rmb-bg-onload{
    right: calc(130 / 1400 * 100vw);
}

.rmb-bg-girl {
    position: relative;
    width: calc(767 / 1400 * 100vw);
    height: calc(767 / 1400 * 100vw);
}
.rmb-bg-girl img{
    position: absolute;
    top: 0;
    right: 0;

    width: calc(1075 / 1400 * 100vw);
    height: calc(1075 / 1400 * 100vw);
    transform: rotate(-45deg) translateX(20%);  
    transition: 1s;
}
.rmb-bg-girl img:hover{
    filter: hue-rotate(45deg);
}
.rmb-best {
    position: absolute;
    top: calc(400 / 1400 * 100vw);
    left: calc(-500 / 1400 * 100vw); // 194

    transform: rotate(45deg);
    width: calc(400 / 1400 * 100vw);
    height: calc(400 / 1400 * 100vw);
    background-color: #1b1b1b;
    box-shadow: -11px 8px 46px rgba(35, 31, 32, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
    transition-delay: 1.3s;
}
._rmb-load{
    left: calc(194 / 1400 * 100vw);
}
.rmb-best-items {
    transform: rotate(-45deg);
    max-width: 256px;
}
.best-item-title{
    margin: 0px 0px 20px 0px;
    text-align: center;
}
.best-item-title h2{
    color: #019edb;
    @include lato;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
}
.best-item-subs{
    margin: 0px 0px 33px 0px;
}
.best-item-subs p{
    text-align: justify;
    color: #ffffff;
    font-family: $latoH;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}
.best-item-btn{
    text-align: center;
}
.best-button {
    color: #ffffff;
    @include lato;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    padding: 11px 17px;
    background-color: #019edb;
    display: inline-block;
    border-radius: 30px;
    transition: .3s;
}
.best-button:hover{
    background-color: #0385b8;
}

.rmb-number {
    width: calc(323 / 1400 * 100vw);
    height: calc(323 / 1400 * 100vw);
    transform: rotate(45deg);
    background-color: $blue;

    position: absolute;
    z-index: 3;
    top: calc(802 / 1400 * 100vw);
    left: calc(380 / 1400 * 100vw);

    display: flex;
    justify-content: center;
}
.rmb-number-wrap {
    transform: rotate(-45deg);
    
}
.rmb-num-title {
    display: flex;
    justify-content: center;
    margin: 0px 0px 18px 0px;
}
.num-str h2{
    color: #fefefe;
    @include lato;
    font-size: 73px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.55px; 
}
.num-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    align-self: flex-end;
    transform: translateY(-100%);
    margin: 0px 0px 0px 10px;
}
.rmb-num-subtitle {
    text-align: center;

    color: #ffffff;
    @include lato;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;

    margin: 0px 0px 18px 0px;
}
.rmb-num-discription p{
    color: #ffffff;
    @include lato;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;
    max-width: 256px;
    line-height: 20px;
}


.rmb-bw {
    position: absolute;
    top: calc(660 / 1400 * 100vw);
    left: calc(565 / 1400 * 100vw);

    width: calc(587 / 1400 * 100vw);
    height: calc(587 / 1400 * 100vw);
}
.rmb-bw img{
    width: calc(587 / 1400 * 100vw);
    height: calc(587 / 1400 * 100vw);
}

.rmb-mini{
    transform: rotate(45deg);
    width: calc(73 / 1400 * 100vw);
    height: calc(73 / 1400 * 100vw);

    background-color: $blue;

    position: absolute;
    top: calc(305 / 1400 * 100vw);
    left: calc(-100 / 1400 * 100vw); // 475
    transition: .5s;
    transition-delay: 1.3s;
    animation: rotate .7s ;
    animation-delay: 1.8s;

}
._rmb-mini-onload{
    left: calc(475 / 1400 * 100vw);
}

@keyframes rotate{
    100%{
        transform: rotate(135deg);
    }
}

.rmb-bg,
.rmb-best,
.rmb-bw,
.rmb-mini{
    z-index: 3;
}
.rmb-number{
    z-index: 4;
}




