@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}
@import 'fonts';

*{
    margin: 0;
}
.wrap {
    padding: 100px;
}
.wrap h1{
    // padding: 50px;
    font-family: 'LegatoTF-RegularItalic';
}
.wrap h2 {
    font-size: 30px;
    font-family: 'Hathem Bosteem';
}
.w{
    font-family: 'bf-pers1';
}

