.touch {
    position: relative;
    padding-top: calc(140 / 1400 * 100vw);
    padding-bottom: calc(100 / 1400 * 100vw);
    padding-right: 10px;
    background: url(../img/choose/Layer_11.jpg) center / cover no-repeat;
}
.touch-mod{
    top: calc(35 / 1400 * 100vw);
}
.work-rmb {
}
.block-flex {
}
.work-rmb-rotate {
}
.work-rmb-number {
}
.work-rmb-dot {
}
.touch-header{
    margin-bottom: calc(76 / 1400 * 100vw);
    text-align: center;
    position: relative;
    z-index: 1;
}
.touch-header h2{
    font-size: 38px;
    @include lato;
    color: #fff;
    text-transform: uppercase;
}
.touch-items-wrap{
    display: flex;
    justify-content: center;
}
.touch-items {
    
}
.touch-block{
    display: flex;
    transform: translateX(-100vw);
}
._touch-toRight{
    transition: .5s;
    transform: translateX(0);
}
.touch-block-email {
    margin-right: calc(112 / 1400 * 100vw);
    margin-left: calc(183 / 1400 * 100vw);
}
.touch-block:last-child{
    margin: 0px 0px 0px 0px;
}
.touch-block-tel{
    margin-right: calc(143 / 1400 * 100vw);
}
.touch-rmb {
    width: calc(50 / 1400 * 100vw);
    height: calc(50 / 1400 * 100vw);
    background-color: $blue;
    transform: rotate(45deg);
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.touch-rmb-img {
    transform: rotate(-45deg) translateX(50%);
}
.touch-info {
    margin: 0px 0px 0px 60px;
}
.touch-info-title{
    margin-bottom: 20px;
}
.touch-info-title h2{
    font-size: 17px;
    @include lato;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
}
.touch-info__link-info a{
    font-size: 16px;
    @include lato;
    line-height: 24px;
    color: #fff;
}
.copyright {
    margin: 77px 0px 0px 0px;
    text-align: center;
}
.copyright-info h3{
    font-size: 17px;
    @include lato-r;
    color:#fff;
    line-height: 24px;
}
.top {
    position: absolute;
    bottom: calc(-55 / 1400 * 100vw);
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    width: calc(110 / 1400 * 100vw);
    height: calc(110 / 1400 * 100vw);
    background-color: $blue;
    display:flex;
    justify-content: center;
    
}
.top a{
    display: inline-block;
    transform: rotate(-45deg);
    font-size: 17px;
    @include lato-r;
    color:#fff;
    line-height: 24px;
    text-transform: uppercase;
}